
@media (max-width: 1250px) {
    .wrapper {
        zoom: 0.85;
    }

}

 @media (max-width: 1050px) {
    .wrapper {
        zoom: 0.75;
    }


}

@media (max-width: 850px) {
    .wrapper{
        zoom: 0.65;
    }
} 

@media screen and (max-width: 650px) {
    .filme-principal{
        padding: 0 15px;
        background-position: right;
    }
    header .container {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-bottom: 5px;
        width: 235px;
    }

    .titulo-carrossel{
        margin-left: 15px;
    }
}

.sticky {
    position: fixed;
    width: 100%;
    background-color: black;
    z-index: 4;
  }